<html>
    <head>
        <link rel="stylesheet" href="/static/contacto.css">
        <title>
            Envienos una consulta
        </title>
    </head>
    <body>
        <div id="center">
            <div id="title">
                Envienos una consulta
            </div>
            <div id="text">
                ¿Fixy no ha sido capaz de resolver su pregunta? Para poder ponernos en contacto con usted, por favor ponga a continuación sus detalles personales para que nosotros nos podamos poner en contacto con usted.
            </div>
            <input type="text" id="nombre" placeholder="Nombre completo" /> 
            <input type="text" id="Correo" placeholder="Correo electrónico" />
            <div id="container-text">
                <p id="text-not-aligned">Inquiry</p>
                <textarea id="inquiry"></textarea>
            </div>
        </div>
    </body>
</html>