<html>
    <head>
        <title>
            Chip
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/index.css">
        <link rel="stylesheet" type="text/css" href="/static/scrollbar.css">
    </head>
    <body>
        <div class="sidebar">
            <div id="logo">
                Fixy_
            </div>
            <div class="option" onclick="emptyChat()">
                Nuevo chat
            </div>
            <a class="option" href="/chat/contact">
                Contacto
            </a>
        </div>
        <div class="main">
            <div id="messages">
            </div>
            <div class="chatbox" id="chatform">
                <textarea id="chat" placeholder="Introduzca aquí su mensaje para enviar"></textarea>
            </div>
        </div>
    </body>
    <script src="/static/index.js"></script>
    
</html>
